<h2 *ngIf="rainForecast.length===0" style="text-align: center;"> Add Customers First</h2>
<mat-grid-list cols="3" rowHeight="1:1">

    <mat-grid-tile *ngFor="let customer of rainForecast">
      <div style="flex-direction:column;">
        <h4>{{customer.name}}</h4>
        <p style="margin: 0px;"><span style="font-weight: 600;">Person Of Contact: </span>{{customer.personOfContact}}</p>
        <p style="margin: 0px"><span style="font-weight: 500;">Telephone: </span>{{customer.telephoneNumber}}</p>
        <p style="margin: 0px;"><span style="font-weight: 500;">Rain Forecasted at: </span></p>
        <ul class="rain-time">
            <li *ngFor="let rainTime of customer.rainTime">
                {{rainTime}}
            </li>
        </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>  